{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Title</title>
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'home/custom.css' %}">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://unpkg.com/htmx.org@1.9.11"></script>
        {#  bootstrap table#}
        <link rel="stylesheet"
              href="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.css">
        <link rel="stylesheet" href="{% static 'home/custom.css' %}">
    </head>
    <body data-bs-theme="light" class="bg-light">
        <header>
            <nav class="navbar navbar-expand-sm bg-body-secondary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#drawer"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle drawer">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>
        <div class="d-flex" id="body">
            <aside class="d-none d-sm-block p-3" id="sidebar">
                <div class="vstack gap-3">
                    {% block navigation %}
                        {% include 'home/_navigation.html' %}
                    {% endblock navigation %}
                    <nav>
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#admin-nav">
                            <i class="bi bi-chevron-down"></i> More
                        </button>
                        <div class="list-group collapse" id="admin-nav">
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'admin:index' %}">Admin</a>
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'data_browser:home' %}">Data
                            Browser</a>
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'silk:summary' %}">Silk</a>
                            <a class="list-group-item list-group-item-action"
                               href="https://docs.google.com/spreadsheets/d/1BdteY0x-T5d4VVbsKJQxTqDyqdH_gkSk">Gsheet</a>
                            <a class="list-group-item list-group-item-action" href="upnote://">UpNote</a>
                        </div>
                    </nav>
                </div>
            </aside>
            <main class="container py-2" id="content">
                {% block content %}
                    cold calls content
                {% endblock content %}
            </main>
        </div>
        <div id="drawer" class="offcanvas offcanvas-start">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="drawer-header">Offcanvas</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="vstack gap-3">
                    {% block drawer %}
                        {% include 'home/_navigation.html' %}
                    {% endblock drawer %}
                    <nav>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'admin:index' %}">Admin</a>
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'data_browser:home' %}">Data
                            Browser</a>
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'silk:summary' %}">Silk</a>
                            <a class="list-group-item list-group-item-action"
                               href="https://docs.google.com/spreadsheets/d/1BdteY0x-T5d4VVbsKJQxTqDyqdH_gkSk">Gsheet</a>
                            <a class="list-group-item list-group-item-action" href="upnote://">UpNote</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.js"></script>
    </body>
</html>
