{% extends 'home/base.html' %}
{% block navigation %}
    {% include 'home/_navigation.html' %}
{% endblock navigation %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="vstack gap-2">
            {% csrf_token %}
            {% include 'home/_form_fields.html' with form=import_excel_form %}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn" href="{% url 'home:prospects-list' %}">Cancel</a>
        </div>
    </form>
{% endblock content %}
